body {
    background-color: papayawhip;
}

body, #dialogues, #stephanus, button  {
    font-family: Palatino, Palatino Linotype, Palatino LT STD, Book Antiqua, Georgia, serif;
}

.text {
    font-size: 15px;
}

.container {
    text-align: center;
}

/* thanks to https://stackoverflow.com/questions/7178537/fit-div-tightly-around-enclosed-image */
.scroll-container {
    position: relative;
    text-align: center;
}

.scroll-container img {
    display: block;
    max-width: 100%;
}

.scroll-container div {
    position: relative;
    display: inline-block;
}

.scroll-container span {
    position: absolute;
    left: 17%;
    top: 15%;
    width: 65%;
    text-align: left;
}

.centered, .copy {
    font-family: "Lucida Console", Monaco, monospace;
    text-align: center;
    margin: 0 auto;
}

textarea {
    width: 45%;
    font-size: 1.1rem;
    line-height: 1.2;
    text-align: left;
  }

