body {
    background-color: papayawhip;
}

body, #dialogues, #stephanus, #retrieve, #next {
    font-family: Palatino, Palatino Linotype, Palatino LT STD, Book Antiqua, Georgia, serif;
}

.text {
    font-size: 2.2vh;
}

.container {
    text-align: center;
}

/* thanks to https://stackoverflow.com/questions/7178537/fit-div-tightly-around-enclosed-image */
.scroll-container {
    position: relative;
    text-align: center;
}

.scroll-container img {
    display: block;
    max-width: 120%;
}

.scroll-container div {
    position: relative;
    display: inline-block;
}

.scroll-container span {
    position: absolute;
    left: 17vh;
    top: 10vh;
    width: 65%;
    text-align: left;
}

